/* Style Sources */
text-align: center
/* Inherited */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
color: rgba(254, 255, 9, 1);
font-family: Arial, Roboto, sans-serif;
font-size: 16px;
font-style: normal;
line-height: 1.2
/* Preset */
border-bottom-width: 1px;
border-left-width: 1px;
border-right-width: 1px;
border-top-width: 1px;
box-sizing: border-box;
outline-width: 1px